body{
    background-color: lightblue ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

head{
    margin: center;
}

table{
    width: 90%;
    text-align: left;
    background-color: whitesmoke;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;

}

th, td{
    border: solid 1px;
    padding: 10px;
}

/* clases */
.entregas{
    background-color: teal;
    color: white ;

}
.hover{
    border: red 1px;
}

thead{
    background-color: seagreen;
    color: white;
    text-align: center;
}


/* tr:nth-child(even){
    background-color: #ddd;
} */


